/* Reset */
body, h1, h2, h4, p, div {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  padding: 0;
  margin: 0;
}

.popup {
  text-align: center;
}

/* Full-width header */
.headerSection {
  background-color: #636363;
  width: 100vw;
  padding-top: 50px;
  margin-bottom: 40px;
}

.headerSection h1 {
  font-size: 1.28em;
  color: #ecf0f1;
  padding: 10px;
  margin: 0;     
}

.contentWrap {
  margin: 10px 0;
  color: #bdc3c7;
}

.togglerWrap {
  margin-top: 20px;
  margin-bottom: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

footer h4 {
  display: flex;
  align-items: center;
  padding: 15px;
}

/* Full-width footer */
footer {
  height: 50px;
  margin-top: 50px;
  background: #636363;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerr {
  display: flex;
  align-items: center;
}
